# Node.js dependencies
/Backend/node_modules

# SQLite Database File
/Backend/school.db
/Backend/school.db-journal

# Uploaded files from users
/uploads/

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db